# Database
DATABASE_URL="postgresql://user:pass@db-postgres:5432/wa_db"

# Redis
REDIS_URL="redis://cache-redis:6379"

# App
NODE_ENV="production"
SOCKET_PORT=3001
NEXT_PUBLIC_SOCKET_URL="http://localhost:3001"

# Integration
WEBHOOK_URL="https://your-service.com/webhook"
API_SECRET="wa-gateway-secret"
API_KEY="wa-gateway-key-123"
